.root {
    background-color: #eee;
    border-radius: 10px;
    border: #aaa solid 1px;
    padding: 10px 20px;

    width: 270px;
}

.header {
    font-weight: 600;
    font-size: 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text {
    padding: 10px 15px;
}

.user {
    display: flex;
    align-items: center;
    gap: 15px;
}

.avatar {
    border-radius: 50%;
    padding: 5px;
    background-color: #aca;
    cursor: pointer;
}

.link {
    color: #66c;
    cursor: pointer;
    font-size: 16px;
    margin-top: 5px;
}

.user:hover .link{
    color: #33b;
}

.user:hover .avatar{
    background-color: #7a7;
}

.delete {
    cursor: pointer;
}

.btn-group {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 15px;
    padding: 0px 5px;
}

.like-section {
    display: flex;
    align-items: center;
    gap: 5px;
}

.emotion {
    display: flex;
    align-items: center;
    gap: 5px;
}

.emotion-icon {
    cursor: default;
}

.like-btn {
    cursor: pointer;
}

.date {
    font-size: 13px;
    margin-left: 55%;
}