.root {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    width: 150px;
    gap: 10px;
}

.link {
    display: block;
    margin-top: 20px;
}
