.root {
    background-color: #eee;
    border-radius: 10px;
    border: #aaa solid 1px;
    padding: 10px 20px;

    width: 270px;
}

.header {
    font-weight: 600;
    font-size: 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text {
    padding: 10px 15px;
}

.emotion {
    cursor: help;
}

.user {
    display: flex;
    align-items: center;
    gap: 15px;
}

.avatar {
    border-radius: 50%;
    padding: 5px;
    background-color: #aca;
}

.link {
    color: #66c;
    cursor: pointer;
    font-size: 16px;
    margin-top: 5px;
}

.link:hover {
    color: #33b;
}

.delete {
    cursor: pointer;
}