.header {
    display: flex;
    align-items: center;
    gap: 30px;

    border-bottom: 2px solid #aaa;
    padding: 20px;
    font-size: 25px;
}

.root {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

.avatar {
    border-radius: 50%;
    padding: 15px;
    background: #aca;
}

.nickname {
    font-weight: bold;
    margin-bottom: 10px;
}

.link {
    color: #66c;
    font-weight: 20px;
}

.posts {
    font-size: 16px;
}

.btn {
    border-radius: 20px;
    padding: 10px;
    background-color: #bbb;
    cursor: pointer;
}

.btn:hover {
    background-color: #aaa;
}

.btn-group {
    margin-left: 60px;
    display: flex;
    align-items: center;
    gap: 25px;
}

.post-title {
    font-size: 25px;
}
